// =====================================
// my custom scss
// =====================================
.login-container {
    height: 100vh;
    .row .login-row {
        height: 100%;
    }
}
.logos {
    cursor: pointer !important;
}
.back-btn,
.add-btn,
.item-header {
    width: max-content;
}
.form-control-alternative {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
    transition: box-shadow 0.15s ease !important;
    border-radius: 0.3rem !important;
    height: 50px !important;
}
.nav-wrapper {
    padding: 1rem 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.nav-pills .nav-item:not(:last-child) {
    padding-right: 1rem;
}
.nav-pills .nav-link {
    padding: 0.75rem 1rem;
    color: #5e72e4;
    font-weight: 500;
    font-size: 0.875rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background-color: #fff;
    transition: all 0.15s ease;
    border-radius: 0.3rem !important;
}
.pointed:hover {
    cursor: pointer !important;
}
.errorInput {
    border-bottom: 1px solid red !important;
}
.sm-font {
    font-size: 12px !important;
}
.category {
    font-size: 14px;
    color: #8898aa;
    margin: 25px 60px 10px 15px;
    font-weight: bold;
    width: 100%;
    border-bottom: .1rem solid #eff1f3;
    span {
        margin-left: 10px;
    }
}
.drop-items {
    display: block;
    width: 100%;
    padding: 0.65rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropDown-menu-custom[style]{
    transform: translate3d(0px, 30px, 0px) !important;
}

