.login-container{
    height: 100vh;
    .row .login-row{
        height: 100%;
    }
}
.logos {
    cursor: pointer !important;
}
.back-btn,
.add-btn,
.item-header {
    width: max-content;
}
.form-control-alternative {
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02) !important;
    border: 0 !important;
    transition: box-shadow .15s ease !important; 
    border-radius: 0.3rem !important;
    height: 50px !important;
}
